.comics-container {
  width: $right-column;
  border: solid 2px black;
  animation: $animation-duration ease-out 0s slideInFromRight;

  .list-title {
    padding: 10px 20px;
  }

  .error-message {
    padding: 10px 20px;
  }
}
