@import "~@lumx/core/scss/lumx.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "./App/App.scss";
@import "./components/Header";
@import "./components/SearchField";
@import "./components/Pagination";
@import "./components/Character";
@import "./components/MyMessage";
@import "./components/CharacterDetails";
@import "./components/CharacterDetailsHeader";
@import "./components/Comic";
@import "./components/ComicsList";
@import "./components/CharacterEvent";
@import "./components/CharacterEventsList";
